* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background: #5a5560;
}

html {
  box-sizing: border-box;
  /* font-size: 62.5%; */
}

/* header */

header {
  /* background-color: #46344e; */
  max-width: 120rem;
  margin: 4vw auto;
  grid-area: head;
  display: flex;
  /* border: 1px solid blue; */
  justify-content: space-around;
  align-items: center;
}
.logo__wrapper {
  display: flex;
  align-items: baseline;
}
h1 {
  color: #faed26;
}
.tvmazes__img {
  width: 50px;
  border-radius: 5px;
}
.search__input {
  padding: 10px;
  border-radius: 5px;
  border: 3px solid #faed26;
  outline: none;
}
.search__btn {
  background-color: #faed26;
  border: none;
  outline: none;
  padding: 13px;
  border-radius: 5px;
}
/* header */

/* main part */
.container {
  max-width: 1200px;
  margin: 4vw auto;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex: 1;
}

.movie__wrapper {
  flex-basis: 201px;
  margin-bottom: 40px;
}
.movie__picture {
  width: 100%;
  height: 250px;
  /* videti kako za slike */
}

.movie__heading {
  text-align: center;
  text-transform: capitalize;
}

.movie__title {
  text-align: center;
  padding: 10px;
  color: #faed26;
}
.movie__genres {
  color: #faed26;
}
/* main part */
